/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
    

ul,ol{
    list-style: none;
}

img{
    max-width: 100%;
}

/* LAYOUT */
.row{
    display: flex;
    flex-wrap: wrap;
}

.justify-between{
    justify-content: space-between;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.container-sm{
    max-width: 1000px;
    margin: 0 auto;
}
/* UTILITIES */
.flex{
    display: flex;

}

.section{
    padding: 50px;
}

.mrgn-top.mrgn-bottom{
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn.btn-card{
    width: 65%;
    padding: 10px;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
}

.btn.btn-card a{
    color: white;
    text-decoration: none;
}



/* HEADER */

.row.justify-between{
    align-items: center;
}

.menu{
    align-items: center;
}

.flex li{
    padding: 10px;
}

.header__left__part{
    padding: 10px;
}

.header__right__part{
    padding: 10px;
}

.btn{
    background-color: #0061FF;
    color: white;
}

/* MAIN */

/* FIRST-SECTION */
.section.jumbo{
    background-color: #B4D0E7;
}

.title{
    font-size: 90px;
    font-weight: 700;
    margin-bottom: 30px;
}

.col-30{
    width: 30%;
}

.col-70{
    width: 70%;
}

.col-30 ul{
    margin-top: 50px;
}

.col-30.flex{
    flex-direction: column;
    align-items: flex-start;
}

.col-30.flex ul>li{
    margin-top: 20px;
}

.downarrow{
    font-size: 30px;
    margin-top: auto;
}
/* /FIRST-SECTION */

/* SECOND-SECTION */
.title-container-sm{
    margin-bottom: 100px;
}

.interaction-title{
    padding: 10px 0;
    margin-bottom: 100px;
}

#radio-under-title{
    margin-left: 100px;
}

.card{
    padding: 0 10px;
}

.col-33{
    max-width: calc(100% / 3);
}

.card-header{
    padding: 10px 100px;
    text-align: center;
    border: 1px solid gray;

}
.card-body{
    padding: 0 10px;
    border: 1px solid gray;
}

.card-body ul>li{
    margin-bottom: 20px;
}

.card-body>h2{
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-body ul :nth-child(1){
    font-size: 15px;
}

.month{
    font-size: 12px;
    color: gray;
}

hr{
    width: 20%;
}

.check{
    font-size: 10px;
    color: #0061FF;
}
/* DEBUG */











